.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-icons {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.hero-container {
  width: 1000px;
}
.hero-image {
  width: 98.7vw;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.card-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.location-icon {
  font-size: 18px;
  color: #888;
}

.location {
  font-size: 14px;
  color: #888;
  margin-left: 8px;
}

.star-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.rating {
  font-size: 14px;
  color: #888;
}

.status {
  font-size: 14px;
  font-weight: bold;
  color: #f44336;
  margin-bottom: 4px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
