.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-icons {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.hero-container {
  width: 1000px;
}
.hero-image {
  width: 98.7vw;
}
